/* center image */
img {
    position: absolute;
    top: calc(50vh - 128px);
    left: calc(50vw - 128px);
}

img {
  animation: fadein 5s;
  animation-delay: 1s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}
